<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Quiz App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <script src="https://unpkg.com/vue@3.0.0-rc.5/dist/vue.global.prod.js"></script>

    <div id="app" class="container mt-5 pt-5">
        <!-- TODO: Add images and background -->
        {% csrf_token %}
        <div class="col-md-6 mx-auto">
            <h3 v-if="questions.length === 0">Loading...</h3>
            <template v-else>
                <div id="quiz" v-if="currentIndex < questions.length">
                    <form id="quiz-form">
                        <br>
                        <!-- TODO: Create storyline questions -->
                        <div id="quiz-question">
                            <p>[[ questions[currentIndex].question ]]</p>
                            <div class="form-check" v-for="answer in questions[currentIndex].answers" :key="answer.uid">
                                <input @change="selectAnswer(answer.uid)" class="form-check-input" type="radio" :id="'answer-' + answer.uid" name="answers[]" :value="answer.uid" required>
                                <label class="form-check-label" :for="'answer-' + answer.uid">[[ answer.answer ]]</label>
                            </div>
                        </div>
                        <div class="button-container">
                            <button @click="prevQuestion" class="button btn-primary mt-3">Previous</button>
                            <button @click="nextQuestion($event)" class="button btn-primary mt-3" id="next">Next</button>
                            <button @click="submitQuiz" class="button btn-primary mt-3" id="submit" style="display:none;">Submit Quiz</button>
                        </div>
                    </form>
                </div>

                <div v-else>
                    <div id="quiz-result" style="display: none;">
                        <p>Your personality trait is: [[ personalityTrait ]]</p>
                        <div class="result-image">
<!--                            <img src="{% static personalityTrait.png %}" alt="Result Image">-->
<!--                            <img :src="`/static/${personalityTrait}.png`" alt="Result Image">-->
                            <img src="" alt="">
                        </div>
                    </div>
                    <form action="/quiz">
                        <button type="submit" class="button mt-3" id="restart">Restart Quiz</button>
                    </form>
                </div>

            </template>
        </div>
    </div>
    <script src="{% static 'script.js' %}"></script>

    <script>

    </script>
</body>
</html>
